html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
}

.game-slot {
  border: solid black;
}

.left {
  border-left: none;
}

.right {
  border-right: none;
}

.top {
  border-top: none;
}

.bottom {
  border-bottom: none;
}